/* 
    Created on : Nov 22, 2022, 2:53:12 PM
    Author     : 236369
*/

body{    
    background: url(MyBG.jpg) center fixed;
    letter-spacing: 4px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    background-size: 100% 100%;

}

.center {
    margin: auto;
    margin-top : 15%;
    width: 60%;  
    border: 3px solid green;
    padding: 25px;
    background-color: #1d1d1d;
    color: #ffff33;
    opacity: 0.8;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.button { 
    text-decoration: none;
    color: silver;
    background: black;
    border: solid 2px silver;
    outline: none;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    align-content: center;
}

/*.button { 
    display: inline-block;
    width: 150px;
    padding: 6px 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #8ea2ad;
    border: none;
    border-radius: 8px; 
}*/

#container {
    width: 50%;
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 50%;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px #505050;
}

.message{
    color: white;
    font-family: bold;
    align-content: center;
}

.button:hover {
    background-color: #cc0617;
    box-shadow: 0 0 3px #f2a7a7,
        0 0 10px #f2a7a7,
        0 0 15px #f2a7a7,
        0 0 30px #f2a7a7;
    border: solid #eb4b4b;
}

.button:active {
    background-color: black;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.myTable{
    align-items: center;
    text-align: center;
    align-content: center;
    font-weight: bolder;
    border-collapse: collapse;
    padding: 5%;
    border: silver solid 1px;
    margin: auto;
    margin-top : 1.5%;
    margin-bottom: 5%;
    width: 30%;
    color: white;
    background: #00284f;
}
.table{
    align-content: center;
    font-weight: bolder;
    border-collapse: collapse;
    padding: 5%;
    border: silver solid 1px;
    margin: auto;
    margin-top : 15%;
    width: 25%;
    color: white;
    background: url(navpic.jpg);
}

td {
    padding: 10px;
}

input{
    background-color:silver;
    color: #0c0c14;
    font-size: 16px;
    width: 300px;
    letter-spacing: 2px;
    font-weight: bold;
}

caption{
    font-size: 34px;
    padding: 15px; 
    background: url(navpic.jpg); 
    border: silver solid 1px;
    border-radius: 30px 30px 0px 0px;
    color: white;
    border-color: black;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #1d1d1d;
    font-size: 36px;
    color: #afeb00;
    padding: 3px;
    text-align: center;
    opacity: 0.5;
}

.clock {
    text-align: center;
    position: fixed;
    background: black;
    color: silver;


    box-shadow: 0 0 3px #eb4b4b,
        0 0 25px #eb4b4b,
        0 0 40px #eb4b4b,
        0 0 60px #eb4b4b;
    -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    left: 2%;
    bottom: 5%;
    border: solid 1px silver;
}

nav {
    margin: 27px auto 0;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    position: relative;
    width: auto;
    height: auto;
    background: url(navpic.jpg);
    /*  background-color: #3f4242;     #eb4b4b*/
    border: solid 2px silver;
    border-radius: 8px;
    font-size: 0;
}
nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}
nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}
a:nth-child(1) {
    width: 100px;
}
a:nth-child(2) {
    width: 110px;
}
a:nth-child(3) {
    width: 100px;
}
a:nth-child(4) {
    width: 160px;
}
a:nth-child(5) {
    width: 120px;
}

.responsive-table {
    li {
        border-radius: 3px;
        padding: 25px 30px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }
    .table-header {
        background-color: #95A5A6;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
    }
    .table-row {
        background-color: #ffffff;
        box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    }
    .col-1 {
        flex-basis: 10%;
    }
    .col-2 {
        flex-basis: 40%;
    }
    .col-3 {
        flex-basis: 25%;
    }
    .col-4 {
        flex-basis: 25%;
    }

    .table-row{

    }
    li {
        display: block;
    }
    .col {

        flex-basis: 100%;

    }
    .col {
        display: flex;
        padding: 10px 0;
        &:before {
            color: #6C7A89;
            padding-right: 10px;
            content: attr(data-label);
            flex-basis: 50%;
            text-align: right;
        }
    }
}


